<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Editar", edit_comment_path(@comment) %> |
  <%= link_to "Voltar", comments_path %>

  <%= button_to "Excluir", @comment, method: :delete %>
</div>
