<p style="color: green"><%= notice %></p>

<%= render @movie %>
<%= render "cast", movie: @movie %>
<%= render "comment", movie: @movie %>

<br>
<div>
  <%= link_to "Editar", edit_movie_path(@movie) %> |
  <%= link_to "Voltar", movies_path %>
  <br><br>
  <%= button_to "Excluir", @movie, method: :delete %>
</div>
